{% extends "layout.html" %} {% block content %}

<style>
  body {
   
    background: linear-gradient(246.97deg, #1647CB 30.71%, #42A1EC 67.62%, #67CFEE 95.3%);
  }
</style>

<div id="homepage">
  <div class="text-home">
    <h1>Sell everywhere, from one place.</h1>
    <h2>
      Post in all the main ecommerce platforms, reach out to more people, and
      increase sales.
    </h2>
    <div id="home-buttons">
      <button class="transparent-button">Get started</button>
      <button class="transparent-button">Tell me more</button>
    </div>
  </div>
  <div class="illustration"><img src="../static/img/illustration.svg" /></div>
</div>
{% endblock content %}
