{% extends "layout.html" %}
{% block content %}
    <div class="content-section col-10 mx-auto mt-5">
        <div class="d-flex justify-content-between">
            <h2 style="color: black">My Listings</h2>

            {% if cookie_exist %}

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
                Create Listing
            </button>

            {% else %}

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal" disabled>
                Create Listing
            </button>

            {%endif%}

        </div>
        <hr />
        <div class="row d-flex">
            {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-3 flex-row align-items-stretch">
                <div class="card" id="{{ listing.id }}">
                    <img src="{{  url_for('static', filename='assets/{}/{}'.format(current_user.id,listing.listing_pic))  }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{  listing.title  }}
                        </h5>
                        <div class="card-text">
                            {{  listing.description  }}
                        </div>
                        <div class="dropdown">

                        </div>
                        <div class="dropdown text-end card-img-overlay">
                            <button class="btn btn-light" data-bs-toggle="dropdown">&vellip;</button>
                            <div class="dropdown-menu">
                                <button data-bs-toggle="modal" data-bs-target="#delete{{  listing.id  }}Modal" class="dropdown-item">Delete</button>
                                <a class="dropdown-item" href="{{ listing.ebay_url }}" target="_blank" rel="noopener noreferrer">Go to eBay listing</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

             <div class="modal fade" id="delete{{  listing.id  }}Modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5 class="modal-title text-center">Are you sure you want to delete this listing?</h4>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <form action="{{  url_for('delete', id=listing.id)  }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="createListingModal" tabindex="-1" aria-labelledby="createListingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createListingModalLabel">Create New Listing</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('listings') }}" enctype="multipart/form-data">
                    {{ listing_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ listing_form.title.label(class="form-control-label") }}
                            {% if listing_form.title.errors %}
                                {{ listing_form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in listing_form.title.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ listing_form.title(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
        
                        <div class="form-group">
                            {{ listing_form.description.label(class="form-control-label") }}
                            {% if listing_form.description.errors %}
                                {{ listing_form.description(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in listing_form.description.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ listing_form.description(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group"> 
                        {{ listing_form.post_btn(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Choose a Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-evenly">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-bs-target="#techModal" data-bs-toggle="modal">Technology</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-bs-target="#clothingModal" data-bs-toggle="modal">Clothing</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="clothingModal" tabindex="-1" aria-labelledby="clothingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clothingModalLabel">Clothes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('create_clothing') }}" enctype="multipart/form-data">
                        {{ clothing_form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ clothing_form.title.label(class="form-control-label") }}
                                {% if clothing_form.title.errors %}
                                    {{ clothing_form.title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.title.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
            
                            <div class="form-group">
                                {{ clothing_form.description.label(class="form-control-label") }}
                                {% if clothing_form.description.errors %}
                                    {{ clothing_form.description(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.description.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.description(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ clothing_form.image.label(class="form-control-label") }}
                                {% if clothing_form.image.errors %}
                                    {{ clothing_form.image(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.image.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.image(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ clothing_form.price.label(class="form-control-label") }}
                                {% if clothing_form.price.errors %}
                                    {{ clothing_form.price(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.price.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.price(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ clothing_form.quantity.label(class="form-control-label") }}
                                {% if clothing_form.quantity.errors %}
                                    {{ clothing_form.quantity(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.quantity.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.quantity(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ clothing_form.condition.label(class="form-control-label") }}
                                {% if clothing_form.condition.errors %}
                                    {{ clothing_form.condition(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.condition.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.condition(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ clothing_form.brand.label(class="form-control-label") }}
                                {% if clothing_form.brand.errors %}
                                    {{ clothing_form.brand(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.brand.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.brand(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ clothing_form.color.label(class="form-control-label") }}
                                {% if clothing_form.color.errors %}
                                    {{ clothing_form.color(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.color.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.color(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ clothing_form.size.label(class="form-control-label") }}
                                {% if clothing_form.size.errors %}
                                    {{ clothing_form.size(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in clothing_form.size.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ clothing_form.size(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                        </fieldset>
                        <div class="form-group"> 
                            {{ clothing_form.post_btn(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-bs-target="#categoryModal" data-bs-toggle="modal">Back</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="techModal" tabindex="-1" aria-labelledby="techModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="techModalLabel">Technology</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('create_tech') }}" enctype="multipart/form-data">
                        {{ tech_form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ tech_form.title.label(class="form-control-label") }}
                                {% if tech_form.title.errors %}
                                    {{ tech_form.title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.title.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
            
                            <div class="form-group">
                                {{ tech_form.description.label(class="form-control-label") }}
                                {% if tech_form.description.errors %}
                                    {{ tech_form.description(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.description.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.description(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.image.label(class="form-control-label") }}
                                {% if tech_form.image.errors %}
                                    {{ tech_form.image(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.image.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.image(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.price.label(class="form-control-label") }}
                                {% if tech_form.price.errors %}
                                    {{ tech_form.price(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.price.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.price(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.quantity.label(class="form-control-label") }}
                                {% if tech_form.quantity.errors %}
                                    {{ tech_form.quantity(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.quantity.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.quantity(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.condition.label(class="form-control-label") }}
                                {% if tech_form.condition.errors %}
                                    {{ tech_form.condition(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.condition.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.condition(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.brand.label(class="form-control-label") }}
                                {% if tech_form.brand.errors %}
                                    {{ tech_form.brand(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.brand.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.brand(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.color.label(class="form-control-label") }}
                                {% if tech_form.color.errors %}
                                    {{ tech_form.color(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.color.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.color(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.model.label(class="form-control-label") }}
                                {% if tech_form.model.errors %}
                                    {{ tech_form.model(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.model.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.model(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.line.label(class="form-control-label") }}
                                {% if tech_form.line.errors %}
                                    {{ tech_form.line(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.line.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.line(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.os_name.label(class="form-control-label") }}
                                {% if tech_form.os_name.errors %}
                                    {{ tech_form.os_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.os_name.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.os_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ tech_form.processor_brand.label(class="form-control-label") }}
                                {% if tech_form.processor_brand.errors %}
                                    {{ tech_form.processor_brand(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in tech_form.processor_brand.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ tech_form.processor_brand(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                        </fieldset>
                        <div class="form-group"> 
                            {{ tech_form.post_btn(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-bs-target="#categoryModal" data-bs-toggle="modal">Back</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}