{% extends "layout.html" %} {% block content %}



<div class="content-section mx-auto col-4 mt-5" id="lForm" style="border-radius: 10px">
  <h2 class="text-dark">Login</h2>
  <form method="POST" action="">
    {{ login_form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ login_form.existing_email.label(class="form-control-label") }} {% if
        login_form.existing_email.errors %} {{
        login_form.existing_email(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in login_form.existing_email.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% else %} {{ login_form.existing_email(class="form-control
        form-control-lg") }} {% endif %}
      </div>

      <div class="form-group">
        {{ login_form.existing_pass.label(class="form-control-label") }} {% if
        login_form.existing_pass.errors %} {{
        login_form.existing_pass(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in login_form.existing_pass.errors%}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% else %} {{ login_form.existing_pass(class="form-control
        form-control-lg") }} {% endif %}
      </div>
        <div class="form-group">
            {{ login_form.login(class="btn btn-primary") }}
        </div>
    </fieldset>

  </form>
</div>

{% endblock content %}
