{% extends "layout.html" %}
{% block content %}
    <!-- <p class="account-heading">{{ subtitle }}</p> -->
    <div class="content-section">
        <h2>Create New Listing</h2>
        <form method="POST" action="{{ url_for('new_listing') }}">
            {{ listing_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ listing_form.title.label(class="form-control-label") }}
                    {% if listing_form.title.errors %}
                        {{ listing_form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in listing_form.title.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ listing_form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ listing_form.content.label(class="form-control-label") }}
                    {% if listing_form.content.errors %}
                        {{ listing_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in listing_form.content.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ listing_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>        
            </fieldset>
            <div class="form-group"> 
                {{ listing_form.post_btn(class="btn btn-primary") }}
            </div>
        </form>
    </div>
         
{% endblock content %}