requests
click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
Flask-WTF
email_validator
flask_behind_proxy
bcrypt
Flask-Bcrypt
Flask-Login
SQLAlchemy
WTForms
flask_sqlalchemy
pytest
pycodestyle

