requests
click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
Flask-WTF
email_validator
flask_behind_proxy
bcrypt
Flask-Bcrypt
Flask-Login
SQLAlchemy
psycopg2
WTForms
flask_sqlalchemy
Flask-Migrate
pytest
pycodestyle
ebay_rest
selenium


